## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import load_model
import warnings
warnings.filterwarnings("ignore")

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

2024-07-08 17:47:40.458410: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: SSE4.1 SSE4.2, in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head(5)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 500 
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 500
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, columns=['APPLICATION_TYPE', 'AFFILIATION','CLASSIFICATION','USE_CASE','INCOME_AMT', 'ORGANIZATION', 'STATUS', 'SPECIAL_CONSIDERATIONS'])
application_df.head()

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_50M+,INCOME_AMT_5M-10M,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,STATUS_0,STATUS_1,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,False,True,False,False,False,False,False,False,...,False,False,True,False,False,False,False,True,True,False
1,108590,1,False,False,False,True,False,False,False,False,...,False,False,False,True,False,False,False,True,True,False
2,5000,0,False,False,False,False,False,True,False,False,...,False,False,True,False,False,False,False,True,True,False
3,6692,1,False,False,False,True,False,False,False,False,...,False,False,False,False,False,True,False,True,True,False
4,142590,1,False,False,False,True,False,False,False,False,...,False,False,False,False,False,True,False,True,True,False

In [10]:
# Split our preprocessed data into our features and target arrays (target)
y = application_df['IS_SUCCESSFUL'].values
y

array([1, 1, 0, ..., 0, 1, 0])

In [11]:
# Split our preprocessed data into our features and target arrays (features)
X = application_df.drop(['IS_SUCCESSFUL'], axis =1).values
X

array([[5000, False, True, ..., True, True, False],
       [108590, False, False, ..., True, True, False],
       [5000, False, False, ..., True, True, False],
       ...,
       [5000, False, False, ..., True, True, False],
       [5000, False, False, ..., True, True, False],
       [36500179, False, False, ..., True, True, False]], dtype=object)

In [12]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=44)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# Number of input features
input_features = len(X_train_scaled[0])

# First hidden layer
first_hidden_nodes = 40
nn.add(Dense(first_hidden_nodes, input_dim=input_features, activation='relu'))

# Second hidden layer
second_hidden_nodes = 20
nn.add(Dense(second_hidden_nodes, activation='relu'))

# Output layer
output_nodes = 1
nn.add(Dense(output_nodes, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 40)                1840

 dense_1 (Dense)             (None, 20)                820

 dense_2 (Dense)             (None, 1)                 21

=================================================================
Total params: 2,681
Trainable params: 2,681
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=80)

Epoch 1/80
804/804 [==============================] - 1s 422us/step - loss: 0.5739 - accuracy: 0.7154
Epoch 2/80
804/804 [==============================] - 0s 420us/step - loss: 0.5528 - accuracy: 0.7298
Epoch 3/80
804/804 [==============================] - 0s 404us/step - loss: 0.5494 - accuracy: 0.7317
Epoch 4/80
804/804 [==============================] - 0s 403us/step - loss: 0.5469 - accuracy: 0.7338
Epoch 5/80
804/804 [==============================] - 0s 402us/step - loss: 0.5458 - accuracy: 0.7345
Epoch 6/80
804/804 [==============================] - 0s 414us/step - loss: 0.5449 - accuracy: 0.7339
Epoch 7/80
804/804 [==============================] - 0s 450us/step - loss: 0.5436 - accuracy: 0.7349
Epoch 8/80
804/804 [==============================] - 0s 409us/step - loss: 0.5431 - accuracy: 0.7346
Epoch 9/80
804/804 [==============================] - 0s 415us/step - loss: 0.5424 - accuracy: 0.7354
Epoch 10/80
804/804 [==============================] - 0s 407us/step - loss: 0.5419 - accuracy: 0.7355
Epoch 11/80
804/804 [==============================] - 0s 407us/step - loss: 0.5415 - accuracy: 0.7361
Epoch 12/80
804/804 [==============================] - 0s 453us/step - loss: 0.5413 - accuracy: 0.7366
Epoch 13/80
804/804 [==============================] - 0s 425us/step - loss: 0.5407 - accuracy: 0.7367
Epoch 14/80
804/804 [==============================] - 0s 458us/step - loss: 0.5405 - accuracy: 0.7363
Epoch 15/80
804/804 [==============================] - 0s 414us/step - loss: 0.5400 - accuracy: 0.7360
Epoch 16/80
804/804 [==============================] - 0s 413us/step - loss: 0.5397 - accuracy: 0.7383
Epoch 17/80
804/804 [==============================] - 0s 407us/step - loss: 0.5398 - accuracy: 0.7371
Epoch 18/80
804/804 [==============================] - 0s 403us/step - loss: 0.5394 - accuracy: 0.7378
Epoch 19/80
804/804 [==============================] - 0s 510us/step - loss: 0.5390 - accuracy: 0.7379
Epoch 20/80
804/804 [==============================] - 0s 402us/step - loss: 0.5386 - accuracy: 0.7372
Epoch 21/80
804/804 [==============================] - 0s 406us/step - loss: 0.5389 - accuracy: 0.7381
Epoch 22/80
804/804 [==============================] - 0s 402us/step - loss: 0.5382 - accuracy: 0.7383
Epoch 23/80
804/804 [==============================] - 0s 402us/step - loss: 0.5379 - accuracy: 0.7372
Epoch 24/80
804/804 [==============================] - 0s 408us/step - loss: 0.5377 - accuracy: 0.7381
Epoch 25/80
804/804 [==============================] - 0s 403us/step - loss: 0.5373 - accuracy: 0.7380
Epoch 26/80
804/804 [==============================] - 0s 403us/step - loss: 0.5376 - accuracy: 0.7380
Epoch 27/80
804/804 [==============================] - 0s 411us/step - loss: 0.5374 - accuracy: 0.7404
Epoch 28/80
804/804 [==============================] - 0s 406us/step - loss: 0.5370 - accuracy: 0.7389
Epoch 29/80
804/804 [==============================] - 0s 407us/step - loss: 0.5365 - accuracy: 0.7390
Epoch 30/80
804/804 [==============================] - 0s 403us/step - loss: 0.5368 - accuracy: 0.7393
Epoch 31/80
804/804 [==============================] - 0s 406us/step - loss: 0.5365 - accuracy: 0.7395
Epoch 32/80
804/804 [==============================] - 0s 401us/step - loss: 0.5363 - accuracy: 0.7399
Epoch 33/80
804/804 [==============================] - 0s 407us/step - loss: 0.5366 - accuracy: 0.7396
Epoch 34/80
804/804 [==============================] - 0s 402us/step - loss: 0.5362 - accuracy: 0.7386
Epoch 35/80
804/804 [==============================] - 0s 402us/step - loss: 0.5360 - accuracy: 0.7397
Epoch 36/80
804/804 [==============================] - 0s 401us/step - loss: 0.5364 - accuracy: 0.7400
Epoch 37/80
804/804 [==============================] - 0s 439us/step - loss: 0.5359 - accuracy: 0.7397
Epoch 38/80
804/804 [==============================] - 0s 425us/step - loss: 0.5358 - accuracy: 0.7398
Epoch 39/80
804/804 [==============================] - 0s 415us/step - loss: 0.5360 - accuracy: 0.7398
Epoch 40/80
804/804 [==============================] - 0s 403us/step - loss: 0.5351 - accuracy: 0.7395
Epoch 41/80
804/804 [==============================] - 0s 402us/step - loss: 0.5351 - accuracy: 0.7405
Epoch 42/80
804/804 [==============================] - 0s 402us/step - loss: 0.5350 - accuracy: 0.7402
Epoch 43/80
804/804 [==============================] - 0s 402us/step - loss: 0.5353 - accuracy: 0.7405
Epoch 44/80
804/804 [==============================] - 0s 403us/step - loss: 0.5347 - accuracy: 0.7399
Epoch 45/80
804/804 [==============================] - 0s 407us/step - loss: 0.5349 - accuracy: 0.7407
Epoch 46/80
804/804 [==============================] - 0s 403us/step - loss: 0.5345 - accuracy: 0.7407
Epoch 47/80
804/804 [==============================] - 0s 402us/step - loss: 0.5349 - accuracy: 0.7407
Epoch 48/80
804/804 [==============================] - 0s 402us/step - loss: 0.5347 - accuracy: 0.7400
Epoch 49/80
804/804 [==============================] - 0s 403us/step - loss: 0.5341 - accuracy: 0.7402
Epoch 50/80
804/804 [==============================] - 0s 403us/step - loss: 0.5345 - accuracy: 0.7405
Epoch 51/80
804/804 [==============================] - 0s 403us/step - loss: 0.5346 - accuracy: 0.7408
Epoch 52/80
804/804 [==============================] - 0s 401us/step - loss: 0.5341 - accuracy: 0.7402
Epoch 53/80
804/804 [==============================] - 0s 402us/step - loss: 0.5343 - accuracy: 0.7402
Epoch 54/80
804/804 [==============================] - 0s 402us/step - loss: 0.5342 - accuracy: 0.7397
Epoch 55/80
804/804 [==============================] - 0s 442us/step - loss: 0.5343 - accuracy: 0.7413
Epoch 56/80
804/804 [==============================] - 0s 402us/step - loss: 0.5339 - accuracy: 0.7403
Epoch 57/80
804/804 [==============================] - 0s 401us/step - loss: 0.5333 - accuracy: 0.7422
Epoch 58/80
804/804 [==============================] - 0s 401us/step - loss: 0.5337 - accuracy: 0.7403
Epoch 59/80
804/804 [==============================] - 0s 402us/step - loss: 0.5334 - accuracy: 0.7408
Epoch 60/80
804/804 [==============================] - 0s 401us/step - loss: 0.5342 - accuracy: 0.7411
Epoch 61/80
804/804 [==============================] - 0s 402us/step - loss: 0.5334 - accuracy: 0.7407
Epoch 62/80
804/804 [==============================] - 0s 401us/step - loss: 0.5339 - accuracy: 0.7416
Epoch 63/80
804/804 [==============================] - 0s 405us/step - loss: 0.5339 - accuracy: 0.7404
Epoch 64/80
804/804 [==============================] - 0s 404us/step - loss: 0.5333 - accuracy: 0.7407
Epoch 65/80
804/804 [==============================] - 0s 407us/step - loss: 0.5336 - accuracy: 0.7410
Epoch 66/80
804/804 [==============================] - 0s 404us/step - loss: 0.5334 - accuracy: 0.7418
Epoch 67/80
804/804 [==============================] - 0s 401us/step - loss: 0.5332 - accuracy: 0.7411
Epoch 68/80
804/804 [==============================] - 0s 402us/step - loss: 0.5331 - accuracy: 0.7418
Epoch 69/80
804/804 [==============================] - 0s 402us/step - loss: 0.5336 - accuracy: 0.7410
Epoch 70/80
804/804 [==============================] - 0s 402us/step - loss: 0.5329 - accuracy: 0.7417
Epoch 71/80
804/804 [==============================] - 0s 403us/step - loss: 0.5332 - accuracy: 0.7406
Epoch 72/80
804/804 [==============================] - 0s 443us/step - loss: 0.5330 - accuracy: 0.7418
Epoch 73/80
804/804 [==============================] - 0s 411us/step - loss: 0.5331 - accuracy: 0.7416
Epoch 74/80
804/804 [==============================] - 0s 403us/step - loss: 0.5326 - accuracy: 0.7421
Epoch 75/80
804/804 [==============================] - 0s 402us/step - loss: 0.5327 - accuracy: 0.7418
Epoch 76/80
804/804 [==============================] - 0s 402us/step - loss: 0.5330 - accuracy: 0.7412
Epoch 77/80
804/804 [==============================] - 0s 401us/step - loss: 0.5326 - accuracy: 0.7420
Epoch 78/80
804/804 [==============================] - 0s 402us/step - loss: 0.5327 - accuracy: 0.7418
Epoch 79/80
804/804 [==============================] - 0s 401us/step - loss: 0.5322 - accuracy: 0.7423
Epoch 80/80
804/804 [==============================] - 0s 403us/step - loss: 0.5324 - accuracy: 0.7422

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5643 - accuracy: 0.7228 - 170ms/epoch - 634us/step
Loss: 0.5643152594566345, Accuracy: 0.7227988243103027

In [18]:
# Export our model to HDF5 file
nn.save('HDF5/AlphabetSoupCharity.h5')